<div class="container">
  <nav>
    <ul class="pagination paginationUl ">
      <li class="page-item " [ngClass]="{disabled:currentPage === 0}">
        <a (click)="currentPage=currentPage-1" class="page-link">Previous</a>
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li class="page-item" 
        [ngClass]="{active:i=== currentPage}"
        *ngIf="PageIndex(i)">
          <a (click)="currentPage=i" class="page-link">{{i + 1}} </a>
        </li>

      </ng-container>
     
      <li class="page-item" [ngClass]="{disabled:currentPage === images.length -1}">
        <a (click)="currentPage=currentPage+1" class="page-link">Next</a>
      </li>
    </ul>
  </nav>

  <!-- {{Property binding}} -->
  <div class="mainImg">
    <h4>{{images[currentPage].title}}</h4>
    <img class="" [src]="images[currentPage].url">
  </div>


  <!-- different ngClass usage -->
  <!-- [ngClass]="i === currentPage ? 'active':'passive'" -->
</div>